.notice,
.notice-pointer,
.notice-new,
.notice-plus
 {
    background-color: tomato;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
}

.notice-pointer {
    width: 5px;
    height: 5px;
    animation: noticePointerAnimation 2s ease-in-out infinite;
}

.notice-plus {
    background-color: var(--light-green);
    width: 14px;
    height: 14px;
    color: rgba(0,0,0,0.7);
    font-weight: 600;
    z-index: 5;
}

@keyframes notificationNew {
    0% {
        transform: none;
    }
    50% {
        transform: rotateY(360deg);
    }
    100% {
        transform: none;
    }
}

.notice-new {
    margin-left: 10px;
    text-align: center;   
    background-color: none;
    font-weight:100;
    font-size: 10px;
    
}


/* chat-number */
@keyframes notificationAnimation {
    0% {
        transform: none;
    }    
    50% {
        transform: translateY(-20px) rotateY(360deg);
    }
    100% {
        transform: none;
    }
}

/* more-notice */
@keyframes noticePointerAnimation {
    0% {
        opacity: 0;
    }    
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
    }
}
